
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="css/menu.css">
    

    <!-- lib para formularios -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<!-- script externo -->
<script type="text/javascript" src="js/global.js"></script> 
<body>
    <div class="shadow-sm p-1 mb-5  navbar-light navbar navbar-light bg-light fixed-top flex-md-row border-botton shadow-sm" >
        <div class="container-fluid" style="text-decoration:none;text-shadow: 0.1em 0.1em 0.2em black">
        
            <a class="navbar-brand">
                <span style="color:#4DB2EE ;font-family:'Arial Black';"> SKYBLUE</span>
                <span style="color:#aaa;"> | </span>
                <b style="color:black;">Tech</b>
            </a>
               
              <div class="d-flex">
                <h5 class="my-0 mr-md-auto font-weight-normal d-none d-sm-inline">SISTEMA DE CONTROL DE UNIDADES </h5>
              </div>
              
              <div class="d-flex">
                <nav class="my-1 my-md-0 mr-md-1">
                    <form method="POST" th:action="@{/logout}">
                        <a href="#" onclick="this.parentNode.submit();">Logout</a>
                    </form>
                    <!-- <a class="text-dark d-sm-inline" href="/logout" role="button"  id="logout">LOGOUT</a> -->
                </nav>
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="text-dark d-sm-inline p-3" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" id="BarraInicio">MENU</a>
                </nav>
            </div>
        </div>
    
    </div>
    <!-- ofCanvas -->
    <div class="offcanvas offcanvas-start "  tabindex="-1" id="offcanvasMenu">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title sky-title">SKYBLUE</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-12 mb-1 btn-outline ">
                <a class=" sky-nav" href="#"> <i class="fas fa-home fa-x"></i> INICIO</a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 mb-1 btn-outline">
                  <a class="sky-nav" href="/despachar"><i class="fa fa-fw fa-bus"></i> PRINCIPAL</a>
            </div>
        </div>
        <div class="row">
    
            <!--<div class="col-12 btn-outline-primary">
                  <a class="dropdown-item" href="usuarios.jsp"><i class="fa fa-fw fa-user"></i> USUARIOS</a>
            </div>-->
            <div class="col-12 dropdown btn-outline">
                  <a class="dropdown-toggle sky-nav " type="button"  data-bs-toggle="dropdown" >
                   <i class="fas fa-fw fa-user-cog"></i>  MANTENIMIETO
                  </a>
                  <ul class="dropdown-menu border-light container" >
                    <li >
                        <a class="dropdown mb-1 sky-item" href="#">
                         <i class="fa fa-fw fa-users-gear"></i> USUARIOS</a>
                    </li>
                    <li>
                        <a class="dropdown mb-1 sky-item" href="/chofer">
                            <i class="fas fa-fw fa-cars"></i>
                                CHOFERES
                        </a>
                    </li>
                    <li>
                        <a class="dropdown mb-1 sky-item" href="/trabajador">
                            <i class="fas fa-fw fa-cars"></i>
                            TRABAJADORES
                        </a>
                    </li>
                    <li>
                        <a class="dropdown mb-1 sky-item" href="/vehiculo">
                            <i class="fas fa-fw fa-cars"></i>
                            VEHICULOS
                        </a>
                    </li>
                       <li>
                        <a class="dropdown mb-1 sky-item" href="#">
                            <i class="fa fa-fw fa-locale"></i>
                            RUTAS VEHICULARES</a> 
                    </li>
                  </ul>
            </div>
            
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="main center">
            <div class="icon center">
                <i class="fab fa-facebook-f fa-2x"></i>
            </div>
            <div class="icon center">
                <i class="fab fa-instagram fa-2x"></i>
            </div>
            <div class="icon center">
                <i class="fab fa-whatsapp fa-2x"></i>
            </div>
            <div class="icon center">
                <i class="fab fa-twitter fa-2x"></i>
            </div>
        </div>
    </div>
    </div>
    <div style="height :100px"></div>

</body>

</html>

