
<div th:replace="/fragments/menu :: navbar"></div>
    <div class="container mb-2 p-1 " style="border-radius: 5px; margin-top: 52px;" >
		<div class="card ">
			<div class="car-body ">
				<div class="input-group input-group-sm ">
					<button class="btn  mr-1 " type="button">
						<i class="fas fa-fw fa-list"></i>
					</button>
					<label class="form-control ">
						<a href="javascript:void(0);"><i class="fa fa-fw fa-home"></i> </a>
						<span class="d-none d-sm-inline">
							CONTROL /
						</span>
					
						<span class="" id="lblTitulo">RUTAS</span>
						<span style="float:right;line-height:20px;">
							<span  class="fa fa-fw fa-globe hidden-xs "></span>
						</span>
					</label>
					<div class="btn-group btn-group-sm">
						<button (click)="Nuevo()"  class="btn btn-outline-primary border-secondary ml-1 text-dark btn-action" data-action="nuevo" id="btnNuevoUsuario" title="Nuevo">
							<span class="fa fa-fw fa-file"></span>
						</button>
					
							<a href="/listar" class="btn btn-outline-primary  border-secondary ml-1 text-dark btn-action" data-action="buscar" id="btnDocBuscar" title="Buscar">
								<span class="fa fa-fw fa-search"></span>
							</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- RUTA FORMULARIO -->
	<span class="nsPanel" id="cardEmpleadoForm" >
		<div class="container-sm p-1">
			<div class="card" >
				<div class="card-header p-1">
					<div class="input-group input-group-sm">
						<button class="btn btn-outline-secondary border-white  " type="button" title="" >
							<span class="fas fa-fw fa-user-alt fa-lg"></span>
						</button>
						<label class="form-control ">FORMULARIO</label>
						<button class="btn btn-outline-primary border-secondary ml-1 text-dark btn-action" id="btnConductroGuardar" data-action="empleado.guardar" type="button" title="Guardar">
							<i class="fa fa-fw fa-save"></i>
						</button>
					</div>
				</div>
			
				<div class="card-body p-2" style="height: 75vh;" >
					<div class="" style="overflow-y: auto;">
						<div class="" id="divUsuarioFormContenido">
							
							<form id="frmRuta" class="form" method="post" th:object="${ruta}">
								<div class="container">
									<!-- Datos personales -->
									<h6>DATOS DE RUTA</h6>
									<hr class=" dropdown-divider">
									<div class="row mt-2">

										<div class="col-lg-2">
											<div class="form-group input-group-sm">
												<label> CODIGO:</label>
												
												<input th:field="*{ruta_codigo}" class="form-control" name="ruta_codigo" type="number"	placeholder="CODIGO"  autocomplete="off" />
											</div>
										</div>

										<div class="col-lg-4">
											<div class="form-group input-group-sm">
												<label> NOMBRE:</label>
												<input th:field="*{ruta_nombre}" class="form-control" name="ruta_nombre" type="text"	placeholder="NOMBRE"  autocomplete="off"  />
											</div>
										</div>
									
										<div class="col-lg-4">
											<div class="form-group input-group-sm">
												<label> TIPO :</label>
												<select class="form-select" th:field="*{ruta_tipo}">
													<option value="X" selected>Elige el tipo de ruta</option>
													<option value="A">A</option>
													<option value="B">B</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
				<div class="card-footer ">
					<form action="javascript:void();">
						<div class="input-group input-group-sm mt-2">
							<button class="btn btn-outline-light border" type="button">
								<i class="fas fa-fw fa-angle-double-left"></i>
							</button>
								<label class="form-control"></label>
							<button class="btn btn-outline-light border" type="button">
								<i class="fas fa-fw fa-angle-double-right"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</span>									