<div th:replace="/fragments/menu :: navbar"></div>

<div class="container mb-2 p-1 " style="border-radius: 5px; margin-top: 52px;" >
	<div class="card ">
		<div class="car-body ">
			<div class="input-group input-group-sm ">
				<button class="btn  mr-1 " type="button">
					<i class="fas fa-fw fa-list"></i>
				</button>
				<label class="form-control ">
					<a href="javascript:void(0);"><i class="fa fa-fw fa-home"></i> </a>
					<span class="d-none d-sm-inline">
						CONTROL /
					</span>
				
					<span class="" id="lblTitulo">	TRABADORES</span>
					<span style="float:right;line-height:20px;">
						<span  class="fa fa-fw fa-globe hidden-xs "></span>
					</span>
				</label>
				<div class="btn-group btn-group-sm">
					<button (click)="Nuevo()" class="btn btn-outline-primary border-secondary ml-1 text-dark btn-action" data-action="nuevo" id="btnNuevoUsuario" title="Nuevo">
						<span class="fa fa-fw fa-file"></span>
					</button>
					<button   class="btn btn-outline-primary  border-secondary ml-1 text-dark btn-action" data-action="buscar" id="btnDocBuscar" title="Buscar">
						<span class="fa fa-fw fa-search"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- VEHICULO BUSCAR -->
<span class="nsPanel" id="cardVehiculosBuscar">
	<div class="container-sm p-1" >
		<div class="card">
			<div class="card-header p-1">
				<div class="input-group input-group-sm">
					<button class="btn btn-outline-secondary border-white mr-1 " type="button" title="" disabled>
						<span class="fas fa-fw fa-user-alt fa-lg"></span>
					</button>
					<label class="form-control text-truncate">BUSCAR</label>
					<button class="btn btn-outline-warning border-secondary ml-1 text-dark btn-action" id="btnUsuarioBuscarFiltro" data-action="buscar.filtro" type="button" title="Filtro">
						<i class="fa fa-fw fa-tasks"></i>
					</button>
				</div>
			</div>
			<div class="card-body p-2 overflow-auto" style="height: 75vh;" id="myTable">
				<table class="table table-sm">
					<thead>
						<tr>

							<th >FOTO</th>
							<th >CODIGO</th>
							<th>NOMBRE</th>
							<th>APELLIDOS</th>
							<th>DNI</th>
							<th>CARGO</th>
							<th>TELEFONO</th>
							<th></th>
							<th></th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="V :${listaVehiculos}" class="text-center">
							<!-- <th scope="row">{{indice+1}}</th> -->
							<td > <img th:src="@{${'/img/trabajador/'+V.trabajador_codigo+'.png'}}" alt="imagen" width="50px" height="50px"></td>	
                            
							<td th:text="${V.trabajador_codigo}"> </td>	
							<td th:text="${V.trabajador_nombre}"> </td>
							<td th:text="${V.trabajador_apellidos}"> </td>
							<td th:text="${V.trabajador_dni}"> </td>
							<td th:text="${V.trabajador_cargo}"> </td>
							<td th:text="${V.trabajador_telefono}"> </td>

							<td>
                                <form action="@{/editar}" method="post">
                                    <input type="hidden" name="trabajador_codigo" th:value="${V.trabajador_codigo}">
								    <button  type="submit" class="btn btn-sm btn-warning "> <i class="fas fa-fw fa-pencil-alt"></i></button>
                                </form>
							</td>
							<td>
                                <form action="@{/eliminar}" method="post">
                                    <input type="hidden" name="trabajador_codigo" th:value="${V.trabajador_codigo}">
								    <button  type="submit" class="btn btn-sm btn-danger "> <i class="far fa-times-circle"></i></button>
                                </form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer ">
				<form action="javascript:void();">
					<div class="input-group input-group-sm mt-2">
						<button class="btn btn-outline-light border" type="button">
							<i class="fas fa-fw fa-angle-double-left"></i>
						</button>
							<label class="form-control"></label>
						<button class="btn btn-outline-light border" type="button">
							<i class="fas fa-fw fa-angle-double-right"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</span>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

<script >
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>